attrs==21.2.0
Automat==20.2.0
btrfsutil==5.15
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
click==8.0.3
constantly==15.1.0
dnspython==2.1.0
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
isc==2.0
libmsym==0.2.4
Markdown==3.3.4
netsnmp-python==1.0a1
ply==3.11
pycairo==1.20.1
pygame==2.0.1
PyGObject==3.42.0
PyHamcrest==1.10.1
PyQt5==5.15.6
PyQt5-sip==12.9.0
rados==2.0.0
rbd==2.0.0
rgw==2.0.0
six==1.16.0
team==1.0
Twisted==21.7.0
typing-extensions==3.10.0.2
zope.interface==5.4.0
